form {
    display: flex;
    flex-direction: column;
    height: 391px;
    width: 579px;
    background: var(--note-primary);
    color: var(--note=txt);
}

form h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 33px;
    padding-left: 34px;
}

form input {
    height: 40px;
    width: 511px;
    margin: 19px 34px 13px 34px;
    background: none;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
}

form input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

form textarea {
    width: 511px;
    height: 107px;
    margin: 0 34px 0 34px;
    background: none;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
}

form textarea::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

form div {
    display: flex;
    flex-direction: row;
    margin: 27px 0 31px 34px;
}

form div p {
    padding-right: 34px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--note-txt);
}

form div button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-right: 11px;
}

form div button:hover {
    border: 3px solid #333333;
}

.color-box {
    margin: 0;
}

form .create {
    width: 182;
    height: 42px;
    background: var(--create-btn);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);
    border: none;
}