@import url(./form.css);

:root {
    --basic: rgba(165, 167, 238, 0.973);
    --text-color: #ffffff;
    --note-primary: #FFFBE3;
    --note-txt:  #333333;
    --create-btn: #57AD56;
}

.box {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--basic) ;
    background-size: cover;
    
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    color: var(--white);
}

.header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
}

button:focus{
    outline: none;
}



.done {
    text-decoration: line-through;
}

.edit-input {
    width: 100%;
    display: block;
}